.banner-img {
    width: 100%;
    height:800px;
    display: block;
}

.boxed2{
    border: 100px black;
    width: 1000px;
    height: 1200px;
    margin:100px auto;
    background:white;
    border-radius: 12px;
    font-weight: bolder;
    padding: 40px;
    left: 900px;
    background-position: top right;
    bottom: 5000px;
    margin-top: 500px;
    position:sticky;
}
.pink-background{
    background-image: url("Pink background.jpeg");
    background-size: cover;
   
}

.about-description{
    background-image: url("Pink background.jpeg");
    background-size: cover;
    height: 2250px;
  

}
h1{
    font-size: 70px;
    text-align: center;
    color: black;
}
p{
    font-size: 35px;
    color: black;
}


}
a{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    line-height: 100px;
    box-shadow: 1px 4px 2px 2px #dcddel;
}
a i {
    transition: all 0.3s linear;
}
a: hover i{
    transform: scale(1.4);
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover{
    opacity: 0.7;
}

.socialmedia{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position:relative;
    align-content: space-between;
    padding: 50px;
    margin-bottom: -500px;
    bottom: 0;
    margin-left: 10px;
    left: -10%;
    top: 300px;

}
.fa-instagram{
    background: #125688;
    color: white;
}
.fa-linkedin{
    background: #007bb5;
    color: white;
}
.fa-twitter{
    background: #55ACEE;
    color: white;
}
.work-sample-1{
width: 20px; 
height: 200px;
align-content:space-around; 
}


