.banner-img {
    width: 100%;
    height:800px;
    display: block;
    position: relative;
    z-index: -1;
}

.boxed2 {
    border: 100px black;
    border-radius: 12px;

    background:white;
    background-position: top right;

    float: right;

    width: 1000px;

    position: relative;
    margin: 100px auto;
    margin-top: -250px;
    padding: 40px;

    font-weight: bolder;
    z-index: 0;
}

