.boxed {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    background-color: white;
    font-size: 28px;
}

.tree-img {
    width: 450px; 
    height: 500px;
    border-radius: 24px;
}

.bigger-h1 {
    font-size: 80px;
    text-align: center;
    padding-top: 50px;
}

.stroke-text {
    -webkit-text-stroke:5px black;
    -webkit-text-fill-color: white;
}

.learn-more-button {
    background-color: #64CB54;
    position: center;
    font-weight: bolder;
    border: black;
    border-radius: 20%;
    padding: 15px 32px;
    text-align: center;
    justify-content: center;
    display: block;
    font-size: 16px;
    max-width: 300px;
    margin: auto;
}