.bigger-h1 {
    padding-top: 50px;

    font-size: 80px;
    text-align: center;

    -webkit-text-stroke:2px black;
    -webkit-text-fill-color: white;
}

.boxed {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: white;

    max-width: 1300px;
    margin: 50px auto;
    padding: 16px 16px;

    border-radius: 12px;
    border: 5px solid #000;

    font-size: 28px;
}

.tree-img {
    width: 450px; 
    height: 500px;
    border-radius: 24px;
}

.greeting-text {
    flex: flex-grow;
    padding-left: 10px;
}

.greeting-text ul {
    list-style: square;
    padding-left: 40px;
}

.learn-more {
    text-decoration: none;
    position: center;
    width: 300px;
    margin: 0px auto;
    text-align: center;
    justify-content: center;
    display: block;
}

.learn-more button {
    background-color: #64CB54;
    font-weight: bolder;
    border: black;
    border-radius: 30px;
    padding: 15px 32px;
    font-size: 24px;
}

@media (max-width: 800px) {
    .boxed {
        flex-direction: column;
    }

    .tree-img {
        width: 100%;
        height: auto;
    }
}
