h1 {
   font-size: 60px;
   text-align: center;
   color: black;
}

.flex-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 32px;
}

.container-item {
    display: flex;
    width: 200px;
    height: 50px;
    background-color:#ce3b54;;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    line-height: 50px;
    top: 10000px;
    margin-top: 115px;
}

.work-samples {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-evenly; 
    text-align: justify;
    line-height: 200px;
    flex-direction: row;
    flex-wrap: nowrap;

    margin-top: 125px;
    padding: 0 15px;
}

.x-box {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: right;
    flex-direction: row;
  
    width: 200px;
    height: 200px;
}
