/**
 * General css
 */

h1 {
    color: #EE818C;
    font-weight: bolder;
    font-size: 40px;
}

h2 {
    font-weight: bolder;
    font-size: 42px;
}

h3 {
    font-weight: bolder;
    font-size: 50px;
}

p {
    font-weight: normal;
    color: black;
    font-size: 28px;
    margin-top: 30px;
}

body {
    background-image: url("Pink background.jpeg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;

    font-family: lato;
}

.content {
    margin-bottom: 80px;
}

/**
 * Nagivation bar
 */

.topnav {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.topnav a {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    color: #191716;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
}

.topnav a:hover {
    background-color: pink;
    color: black;
}

.topnav a.active {
    background-color: #CE3B54;
    color: white;
}

.logo {
    height: 90px;
}

@media (max-width: 800px) {
    .topnav {
        flex-direction: column;
        height: auto;
        padding: 10px;
        line-height: 50px;
    }
}

/**
 * Social media icons css
 */

.social-media-icons {
    position: fixed;
    bottom: 0;
    left: 0;
}

.social-media-icons a {
    text-decoration: none;
}

.fa {
    padding: 20px;
    font-size: 26px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: #125688;
}

.fa-linkedin {
    background: #007bb5;
}

.fa-twitter {
    background: #55ACEE;
}

.fa-at {
    background: #0a0a0a;
}