/**
 * 
 */ 
h1 {
    color: #EE818C;
    font-weight: bolder;
    font-size: 40px;
}

h2 {
    font-weight: bolder;
    font-size: 42px;
}

h3 {
    font-weight: bolder;
    font-size: 50px;
}

p {
    color:black;
    font-size: 35px;
}

body {
    margin:0;
    padding: 0;
    background-image: url(Pink\ background.jpeg);
    -webkit-background-sioze: cover;
    background-size: cover;
    background-position: center center;
    height: 130vh;
    background-repeat: repeat;
    font-family: lato;
    min-height: 100vh;
}

nav {
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.subjects { 
    font-weight: bolder;
}

.boxed{
    border: 100px black;
    width: 1300px;
    height: 500px;
    margin:100px auto;
    background: white;
    position: relative;
    padding: 16px 16px;
    border-radius: 12px;
    border: 5px solid #000;
    font-weight: bolder;
}

.topnav {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 20px;
    line-height: 100px;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom:0;
    height:100px;
}

.logo {
    display: flex;
    width: 400px;
    height: 100px;
    border-radius: 20%;
    overflow: auto;
    margin-top: -6px;
    float: right;
}

.topnav a {
    display: flex;
    float: left;
    color: #191716;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom:0;
    padding-left: 10px;
    padding-right: 10px;
}
.topnav a:hover {
    background-color: pink;
    color: black;
    margin-top: 0;
    margin-bottom:0;
}
.topnav a.active{
    background-color: #CE3B54;
    color: white;
    margin-top: 0;
    margin-bottom:0;
}

.sub-menu {
    display: none;
}

.topnav a:hover .sub-menu{
    display: block;
    position: absolute;
    background: pink;
    margin-top: 15px;
    margin-left: 15px;
}
.topnav a:hover .sub-menu{
    display: block;
    margin: 10px;
}
.topnav a:hover .sub-menu{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.btn:hover {
    background: #eee;
}

.contact-me {
    color: pink;
    font-size: 30px;
}

.nav li:hover{
    background: #ff553b;
}

.nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    background: #313131;
    color: #fff;
    width: 1000px;
    text-transform: uppercase;
    font-weight:900;
}

/**
 * Social media icons css
 */
 .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}


.fa:hover {
    opacity: 0.7;
}

.fa-instagram{
    background: #125688;
    color: white;
}
.fa-linkedin{
    background: #007bb5;
    color: white;
}
.fa-twitter{
    background: #55ACEE;
    color: white;
}

.social-media-icons {
    position: fixed;
    bottom: 0;
    right: 0;
}

#socialMediaBottons{
    height: 50vh;
}